.container {
  color: #048b9a;
}

.navbar.navbar-default.main_navigation {
  background-color: #048b9A;
}

.btn_footer {
  background-color: #048b9a;
  color: #fff;
}

.message-block .announcement {
  background-color: #048b9A;
}

.top-header-wrapper {
  background-color: #048b9A;
}